<!DOCTYPE html> 
<html ng-app="Client">

<head>
        <link href="/home/user/ChatApp/Client/CSS/ForgotPass.css" type="text/css" rel="stylesheet"  >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   
</head>
<center >
        <body ng-controller="controlForgotPassword" >
            
           <div class=div1>
               
            <div>
                    
                <h1>Forgot Password</h1>
        
                <div >
                    <form name="myForm">
                        <p>email&nbsp;&nbsp;<input type="email" name="myInput" ng-model="email">
                    </form>
                </div>
                
               
                <div >
                    
                       <!-- <button class="btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;margin-right:20px;background-color:green">Submit</button> -->
                        <button class="btn" ng-click = forgotpassword()>Submit</button>
                        
                        <!-- <button class="btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto; margin-left:20px;background-color: red">Cancel</button> -->
                   
                    </div>

              
            </div>     

</body>
</center>
</html>