<!DOCTYPE html>
<html ng-app="Client">

<head>
    <link href="/home/user/chatApp/client/css/resetPswd.css" type="text/css"  rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 <!-- <script src="../controller/controlResetPassword.js"></script> -->

</head>

<body>
    
        <div ng-controller="controlResetPassword">
            
                <div >
                    <form>
                        <h2>Reset Password</h2>
                        <div style="margin-top:20px;">
                            <!-- <form name="myForm"> -->
                                <p>Newpassword&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password" ng-model="password">
                            <!-- </form> -->
                    </div>
                        <button class="btn" ng-click =reset()>submit</button>
                    </form>
                </div>
</body>


</html>